@font-face {
  font-family: 'GilroyMedium';
  src: url('./assets/fonts/gilroy-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'GilroyMedium', sans-serif;
}

.marker {
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.marker__price {
  position: absolute;
  margin-top: -56px;
  margin-left: -55px;
  width: 110px;
  font-size: 12px;
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  font-weight: 500;
  font-family: Arial, sans-serif;
  box-shadow: none !important;
}

.hint__content {
  padding: 2px !important;
  display: flex;
  align-items: center;
  width: 110px;
}
.hint__flats-amount {
  margin-right: 4px;
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.4);
  width: 23px;
  height: 23px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ymaps-2-1-79-balloon {
  border-radius: 12px;
  box-shadow: none;
}
.ymaps-2-1-79-balloon__content {
  margin-right: 16px !important;
}
.ymaps-2-1-79-balloon__layout {
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.ymaps-2-1-79-balloon__close-button {
  width: 30px !important;
  height: 30px !important;
  margin: 14px 14px 0 0;
}

.balloon-content {
  padding: 8px;
}

.balloon__header {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.balloon__flats {
  height: fit-content;
}

.balloon__flat {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;
}

.balloon__flat:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.balloon__flat__img {
  width: 60px !important;
  height: 60px;
  border-radius: 8px;
}
.balloon__flat__info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.balloon__dot {
  color: #cfcfcf;
}
.balloon__flat__info__price {
  margin-top: 4px;
  font-weight: 600;
}

.point {
  position: relative;
  margin-top: -20px;
  margin-left: -18px;
}

.point__flats-amount {
  position: absolute;
  background-color: #c14040;
  color: white;
  font-size: 6px;
  padding: 4px;
  z-index: 10;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8px;
  top: -4px;
  left: 18px;
}

.point__img {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  left: 0px;
  margin-left: 4px;
  margin-top: 3.5px;
}

@media (max-width: 768px) {
  .ymaps-2-1-79-balloon__close-button {
    width: 22px !important;
    height: 22px !important;
    margin: 7px 10px 0 0;
  }
  .balloon__header {
    font-size: 16px;
    padding: 8px;
  }
  .balloon__flat {
    padding: 8px;
  }
  .balloon__flat__img {
    width: 40px;
    height: 40px;
  }
  .balloon__flat__info {
    margin-left: 8px;
    font-size: 12px;
  }
  .balloon__flat__info__price {
    margin-top: 0px;
  }
}
